body {    
    background-repeat: no-repeat;
    background-size: cover;
    font: normal Arial;
    
}
#emoji {
    width: 475px;
    font-size: 50px; 
}
#relogio{
    position: absolute;
    font-size: 28px;
    border: solid 1px;
    border-radius: 25px;
    background-color: #b74141;
    padding: 2px 50px;
    color: rgb(255, 255, 255);
    height: 30px;
    width: 90px;
    animation: relogio-animation 8s infinite linear;
}
@keyframes relogio-animation {
    from {
        right: -90px;
    }
    to {
        right: 100%;
    }
    
}


#relogio:hover{
    transition:  0.9s;
    background-color: #fff;
    color: #121212;
}


header {
    
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}


section {
    background: white;
    border-radius: 30px;
    padding: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
}
div {
    text-align: center;
    padding: 10px;
    box-shadow: 5px 5px 10px black;
    border-radius: 30px;
    background: #b74141;
}
#imagem {
    /*position: absolute;*/
    border-radius: 30px;
    background-size: cover;
    max-width: 440px;
    max-height: 440px;
    width: auto;
    height: auto;
    /*animation: imagem-animation 6s infinite linear;
*/       
}/*
@keyframes imagem-animation {
    from {
        right: 0%;
    }
    to {
        right: 100%;
    }
}*/

#msg {
    font: normal Arial;
    font-size: large;
    font-style: italic;
    background-color: black;
    color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 30px;
}
#msg:hover {
    background-color: white;
    color: black;
    transition: 0.9s;
    transition-delay: 0.4s;
}
footer {
    color: white;
    text-align: center;
    font-style: italic;
    text-shadow: 5px 5px 10px black;
}